<div class="flex h-screen bg-gray-100">
  <div class="container mx-auto flex">
    <!-- サイドバー -->
    <aside class="w-64 bg-white rounded-lg shadow-md p-6 mr-8 h-fit">
      <h2 class="text-xl font-bold mb-6">プロフィール</h2>
      <div class="mb-4 text-center">
        <p class="mb-2 text-gray-600">ユーザー名</p>
        <p class="font-semibold mb-4"><%= @profile.username %></p>
        <div class="w-32 h-32 mx-auto mb-4">
          <% if @profile.avatar.attached? %>
            <%= image_tag @profile.avatar_url, class: "rounded-full w-full h-full object-cover" %>
          <% end %>
        </div>
        <% if current_user == @profile.user %>
         <%= link_to 'プロフィール編集', edit_user_registration_path, class: 'w-full bg-gray-200 hover:bg-gray-300 py-2 rounded text-center block mb-4 transition duration-300' %>
          <%= link_to '木のカスタマイズ', '#', class: 'w-full bg-gray-200 hover:bg-gray-300 py-2 rounded text-center block transition duration-300' %>
        <% end %>
      </div>
    </aside>

    <!-- メインコンテンツエリア -->
    <main class="flex-1">
      <div class="bg-white rounded-lg shadow-md p-6">
        <h2 class="text-2xl font-bold mb-6"><%= @profile.username %>の感謝の木</h2>
        <% if @profile.user.tree && @profile.user.tree.svg_data.present? %>
          <div class="tree-container mx-auto" style="width: 400px; height: 400px;" data-controller="tree">
            <%= @profile.user.tree.svg_data.html_safe %>
          </div>
          <p class="mt-4 text-center text-gray-600">現在の成長段階: <%= t("tree.stages.#{@profile.user.tree.current_stage}") %></p>
        <% else %>
          <p class="text-center text-gray-600">まだメッセージがありません。</p>
        <% end %>
        <% if current_user == @profile.user %>
          <div class="text-center mt-6">
            <%= link_to '新しいメッセージを作成', new_message_path, class: 'inline-block bg-teal-500 hover:bg-teal-600 text-white font-bold py-2 px-4 rounded transition duration-300' %>
          </div>
        <% end %>
        <p class="mt-4 text-center text-gray-600">メッセージ数: <%= @profile.user.messages.count %></p>
      </div>
    </main>
  </div>
</div>

