<div class="container mx-auto px-4 py-8">
  <div class="flex justify-between items-center mb-6">
    <h1 class="text-3xl font-bold text-teal-800">通知一覧</h1>
    <div class="flex items-center space-x-4">
      <% if @notifications.any? %>
        <%= button_to '全て既読にする', mark_as_read_notifications_path, method: :post, class: 'flex items-center px-6 py-3 bg-teal-600 text-white rounded-lg hover:bg-teal-700 transition duration-300 text-base font-semibold' %>
      <% end %>
      <%= link_to home_path, class: "flex items-center px-6 py-3 bg-teal-600 text-white rounded-lg hover:bg-teal-700 transition duration-300 text-base font-semibold" do %>
        戻る
      <% end %>
    </div>
  </div>

  <% if @notifications.any? %>
    <div class="bg-white shadow-md rounded-lg overflow-hidden">
      <% @notifications.each do |notification| %>
        <div class="notification p-4 border-b border-gray-200 <%= 'bg-blue-50' if notification.read_at.nil? %> flex justify-between items-start">
          <div class="flex-grow">
            <p class="text-sm font-medium text-gray-900">
              <%= link_to notification.actor.name, user_profile_path(notification.actor), class: "hover:underline" %>
              <% if notification.action == 'liked' %>
                があなたのメッセージに「いいね」しました
              <% end %>
            </p>
            <p class="mt-1 text-sm text-gray-500">
              <%= time_ago_in_words(notification.created_at) %>前
            </p>
          </div>
          <div class="flex items-center">
            <% if notification.read_at.nil? %>
              <span class="mr-3 inline-block px-2 py-0.5 text-xs font-medium bg-blue-100 text-blue-800 rounded-full">
                新着
              </span>
            <% end %>
            <%= button_to '削除', notification_path(notification), method: :delete, class: "text-sm text-red-500 hover:text-red-700 font-medium", data: { confirm: "この通知を削除しますか？" } %>
          </div>
        </div>
      <% end %>
    </div>
  <% else %>
    <p class="text-gray-600 text-center py-8">新しい通知はありません。</p>
  <% end %>
</div>
