<h1>木のカスタマイズ</h1>

<%= form_with(model: @tree, local: true) do |form| %>
  <div>
    <%= form.label :leaf_color, "葉の色" %>
    <%= form.select :leaf_color, Tree::LEAF_COLORS.keys.map { |color| [color.to_s.capitalize, color] } %>
  </div>

  <%= form.submit "保存" %>
<% end %>

<%= link_to "戻る", root_path %>
