<div class="flex justify-center items-center min-h-screen bg-gray-100">
  <div class="container mx-auto px-4 py-8">
    <div class="max-w-md mx-auto bg-white rounded-lg shadow-md overflow-hidden">
      <div class="px-6 py-4">
        <h1 class="text-2xl font-bold mb-4 text-center text-gray-800">お問い合わせ</h1>
        <%= form_with(url: submit_contact_path, local: true) do |f| %>
          <div class="mb-4">
            <%= f.label :name, '名前', class: "block text-gray-700 text-sm font-bold mb-2" %>
            <%= f.text_field :name, class: "shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" %>
          </div>

          <div class="mb-4">
            <%= f.label :email, 'メールアドレス', class: "block text-gray-700 text-sm font-bold mb-2" %>
            <%= f.email_field :email, class: "shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" %>
          </div>

          <div class="mb-4">
            <%= f.label :message, 'メッセージ', class: "block text-gray-700 text-sm font-bold mb-2" %>
            <%= f.text_area :message, rows: 5, class: "shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" %>
          </div>

          <div class="flex items-center justify-center">
            <%= f.submit '送信', class: "bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline transition duration-300" %>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>